# Configuración Base de Datos Postgres
POSTGRES_USER=umadmin
POSTGRES_PASSWORD=umadmin_secret
POSTGRES_DB=um_service_db

# Configuración MinIO (Almacenamiento S3 para Archivos/Fotos/PDFs)
MINIO_ROOT_USER=umadmin
MINIO_ROOT_PASSWORD=minio_secret_admin

# Otras claves externas que agregaremos luego
# TELEGRAM_BOT_TOKEN=
# OPENAI_API_KEY=
# SOFTWAY_API_URL=
